apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: filebeat
  namespace: production
spec:
  selector:
    matchLabels:
      app: filebeat
  template:
    metadata:
      labels:
        app: filebeat
    spec:
      containers:
      - name: filebeat
        image: elastic/filebeat:9.3.0
        
# aaj kal mera system
# sema tera  mela se co nai
