apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration
  namespace: production
spec:
  template:
    spec:
      containers:
      - name: migrate
        image: migrate-image
      restartPolicy: Never
